@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

*{
    margin: 0%;
    padding: 0%;
    user-select: none;
}

:root{
    --cor0:#ffd079;
    --cor1:#ffbb00d2;
    --cor2:#F8BC2D;
    --cor3:#D99227 ;
    --cor4:#f3783f;
    --cor5:#F8502D;

    --font-normal: Arial, Helvetica, sans-serif;
    --font-padrao:'Courier New', Courier, monospace;
    --font-destaque: 'Monoton', cursive;
}

/* Configurações do Cabeçalho */

header{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;
}
header > h1{
    color: white;
    font-family: var(--font-destaque);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
}
header > p{
    font-family: var(--font-padrao);
    font-size: 1.4em;
    color: white;
    max-width: 600px;
    margin: auto;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.479);
}
h1{
    font-family: var(--font-destaque);
}

/* Configurações do Corpo */

body{
    background-color: var(--cor0);
    font-family: var(--font-normal);
}
main{
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.459);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

h2{
    font-family: var(--font-destaque);
    font-size: 2em;
    margin: 20px;
    color: var(--cor5);
}
p{
    margin: 10px;
    margin-bottom: 10px;
    text-indent: 20px;
    line-height: 2em;
}
hr{
    margin-top: 30px;
    color: black;
}

/* Configurações da Tabela */

table{
    margin: auto;
    border-collapse: collapse;
    position: relative;
    font-family: var(--font-normal);
}
thead > tr > th{
    position: sticky;
    top: -1px;
    background-color: var(--cor4);
}
td, th{
    border: 1px solid black;
    padding: 10px;
}
thead, tfoot{
    background-color: var(--cor4);
    color: white;
}
tbody > tr:nth-child(odd){ /* 2n-1 */
    background-color: var(--cor0);
}
tbody > tr:nth-child(even){ /*2n */
    background-color: var(--cor2);
}
td.num{
    text-align: right;
}
caption{
    font-size: 1.5em;
    font-weight: bolder;
    padding: 10px;
    background-color: lightgrey;
}

/* Configurações dos Botões */

div{
    margin: 25px 15px;
    display: block;
    text-align: center;
}
button{
    font-family: var(--font-normal);
    margin: 5px 10px;
    border: 2px solid black;
    background-color: white;
    font-size: 16px;
    padding: 12px 20px;
    border-color: var(--cor4);
}
.btn-cabecalho{
    cursor: pointer;
    text-align: center;
    padding: 10px 8px;
    border-radius: 8px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.363);
}
.btn-cabecalho:hover{
    font-family: var(--font-padrao);
    background-color: var(--cor0);
    border:none;
    box-shadow: 1px 1px 3px 4px var(--cor0);
    transition-duration: 1.5s;
}
.btn-navegacao{
    cursor: pointer;
    text-align: center;
    padding: 10px 8px;
    border-radius: 8px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.63);
}
.btn-navegacao:hover{
    font-family: var(--font-padrao);
    background-color: var(--cor3);
    color: white;
    border:none;
    box-shadow: 1px 1px 3px 4px var(--cor3);
    transition-duration: 1.5s;
}

/* Configurações do Rodapé */

footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}
footer a{
    text-decoration: none;
    font-size: 1.2em;
    color: var(--cor5);
} 
footer a:visited{
    color: aquamarine;
}