@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

*{
    margin: 0%;
    padding: 0%;
    user-select: text;
}

:root{
    --cor0:#ffd079;
    --cor1:#ffbb00d2;
    --cor2:#F8BC2D;
    --cor3:#D99227 ;
    --cor4:#f3783f;
    --cor5:#F8502D;

    --font-padrão: Arial, Helvetica, sans-serif;
    --font-normal:'Courier New', Courier, monospace;
    --font-destaque: 'Monoton', cursive;
}

/* Configurações do Cabeçalho */

header{
    background-color: rgba(80, 33, 7, 0.459);
    min-height: 150px;
    text-align: center;
}
header > h1{
    color: white;
    font-family: var(--font-destaque);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
}
header > p{
    font-family: var(--font-padrao);
    font-size: 1.4em;
    color: white;
    max-width: 600px;
    text-align: center;
    margin: auto;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.479);
}
nav{
    text-align: left;
    margin-left: 10%;
    padding: 10px 0px;
}
img{
    max-width: 300px;
}

/* Configurações dos Botões do cabeçalho */

button{
    font-family: var(--font-normal);
    margin: 5px 10px;
    border: 2px solid black;
    background-color: white;
    font-size: 16px;
    padding: 12px 20px;
    border-color: var(--cor4);
    transition: all 0 ease;
}
button:active{
    transform: scale(0.96);
}
.btn-cabecalho{
    background-image: linear-gradient( to bottom,lightgray, white);
    cursor: pointer;
    text-align: center;
    padding: 10px 8px;
    border-radius: 8px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.63);
}
.btn-cabecalho:hover{
    background-image: linear-gradient( to bottom, white, lightgray );
}

/* Configuração de fundo */

body{
    background-image: url("imagens/galaxia.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* Confiurações do corpo*/

body{
    background-color: var(--cor0);
    font-family: var(--font-normal);
}
main{
    background-color: white;
    min-width: 250px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.459);
    border-radius:10px;
}
main > h1{
    text-align: center;
    font-family: var(--font-padrao);
    font-size: 2em;
    margin: 20px;
    border: 8px solid var(--cor2);
    border-style: groove;
 }
 img{
    text-align: center; 
    margin: 0 auto;
 }
p{
    margin: 10px;
    margin-bottom: 10px;
    text-indent: 20px;
    line-height: 2em;
    text-align: justify;
}

/* Configurações do Iframe*/

iframe#tela{
    box-shadow: 2px 5px 7px 4px rgba(0, 0, 0, 0.438);
    width: 400px;
    height: 500px;
    margin-left: -25px;
    border-radius: 5%;
    font-size: 1em;
    background-color: transparent;
}
iframe.margin{
    margin-bottom: 450px;
}

/* Configurações da lista grande */

ul#grande{
    display: inline-block;
    padding-bottom: 20px;
    padding-right: 100px;
    padding-left: 40px;
}
ul#grande > a{
    color: black;
    font-family: var(--font-padrao);
    text-decoration: none;
}
ul#grande > a:hover{ 
    color:var(--cor4);
    transition-duration: 5s;
    font-size: 1.1em;
}
ul#grande > li{
    margin: 2px 0px;
    text-align: left;
    list-style-type: none;
}

/* Configurações da lista pequena */

ul#pequeno{
    display: block;
    padding-bottom: 20px;
}
ul#pequeno > a{
    color: black;
    font-family: var(--font-padrao);
    text-decoration: none;
}
ul#pequeno > a:hover{
    color:var(--cor4);
    transition-duration: 5s;
    font-size: 1.1em;
}
ul#pequeno > li{
    margin: 2px 0px;
    text-align: center;
    list-style-type: none;
}

div{
    text-align: center;
    padding-bottom: 20px;
    margin: 20px;
}
a.ancora{
    color: black;
    font-family: var(--font-padrao);
    text-decoration: none;
}
a.ancora:hover{
    color:var(--cor5);
    transition-duration: 5s;
    text-decoration: line-through;
    font-size: 1.1em;
}

/* Configurações do Rodapé*/

footer{
    background-color: rgba(80, 33, 7, 0.459);
    color: white;
    font-size: 0.8em;
    padding:5px;
}
footer p{
    text-align: center;
}
footer > p > a{
    text-decoration: none;
    color: var(--cor0);
}
footer a:hover{
    text-decoration: underline;
    font-size: 1.0em;
    transition: 2s;
    color: aqua;
} 
footer a:visited{
    transition: 2s;
    color: aquamarine;
}